<div class="row span4 offset4">
  <h2>Log In</h2>
  <%= form_for @login, { url: sessions_path } do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Email" %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Your password" %>

    <div>
      <%= f.submit "Login", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
