  <div class="row span4 offset4">
    <h2>Register</h2>
    <%= form_for @reader do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email" %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder: "Type password again" %>

      <%= f.submit "Register", class: "btn btn-primary" %>
    <% end %>
  </div>
